/* TodoForm.css */
.todo-form {
  max-width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #333;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 3px;
  margin-bottom: 2px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type='checkbox'] {
  /* margin-right: 1px; */
  margin-left: 0;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
